    body {
      background: linear-gradient(135deg, #ffa7ea, #f99784);
    }

    .login-container {
      background: white;
      padding: 2.5rem;
      border-radius: 1rem;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
      max-width: 400px;
    }

    #alertContainer {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1055;
    }

    .custom-alert {
      opacity: 0;
      transition: all 0.5s ease;
      padding: 10px 20px;
      border-radius: 8px;
      color: white;
      font-weight: 500;
      margin-top: 10px;
      font-size: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-10px);
    }

    .custom-alert.show {
      opacity: 1;
      transform: translateY(0);
    }

    .custom-alert-danger {
      background-color: #e74c3c;
    }

 /* Banner nhỏ */
.banner-small {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  filter: brightness(0.8);
}