

/* Card dịch vụ */
.service-card {
  background: #fff;
  border-radius: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  font-size: 18px;  
  padding: 25px;
}

/* Banner nhỏ */
.banner-small {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  filter: brightness(0.8);
}


.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card h5 {
  font-size: 22px;  
  font-weight: bold;
}

.service-card p {
  font-size: 16px; 
}

.service-card i {
  transition: transform 0.3s;
}

.service-card:hover i {
  transform: scale(1.2);
}

/* Modal */
.modal-content {
  font-size: 18px;
}

